<div class="container" style="margin-top: 85px;">
  <div class= "row">
    <div class="banner_jobs">
    </div>
    <ol class="breadcrumb">
      <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
      <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
      <li class="active"><%= link_to("按着发布时间排序", jobs_path) %></li>
    </ol>
    <% @jobs.each do |job| %>
      <div class="col-md-12 position-panel">
        <div class="col-md-10" >
          <div class="position-title"><%= link_to(job.title, job_path(job)) %></div>
          <div class="wage">$<%= job.wage_lower_bound %>-<%= job.wage_upper_bound %></div>
          <div style="margin: 10px 0 4px 0">
            <span class="label label-default">上海</span>
            <span class="label label-success">3年-5年</span>
            <span class="label label-info">本科</span>
          </div>
        </div>
        <div class="col-md-2">
          <img src="<%= 'https://img2.bosszhipin.com/boss/avatar/avatar_' + (job.id % 16).to_s + '.png' %>" class="avater" />
        </div>
      </div>
    <% end %>
  </div>
</div>
