<div class="container" style="margin-top: 85px;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      应征职位：<%= @job.title %>
    </div>
    <div class="panel-body">
      <div class="well">
        <div class="wage">
          $<%= @job.wage_lower_bound %>-<%= @job.wage_upper_bound %>
        </div>
        <span style="font-size: 16px; color: grey;">
          <%= format_created_at(@job) %>发布
        </span>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          职位描述
        </div>
        <div class="panel-body">
          <%= @job.description %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to("投递履历", new_job_resume_path(@job, @resume), :class => "btn btn-success") %>
      <%= mail_to( @job.contact_email, "联系Ta" , :class => "btn btn-default") %>
    </div>
  </div>
</div>
