<h1 class="page-header" style="margin-top: 55px;">Dashboard</h1>

<div class="table-responsive">
  <div class="group">
    <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default pull-right") %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>职缺名称</th>
        <th>收到履历数量</th>
        <th>薪资上限</th>
        <th>薪资下限</th>
        <th>管理选项</th>
        <th>刊登时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <% if job.is_hidden %>
              <%= icon('lock') %>
            <% else %>
              <%= icon('globe') %>
            <% end %>
            <%= link_to(job.title, job_path(job)) %>
          </td>
          <td><%= link_to job.resumes.count, admin_job_resumes_path(job) %></td>
          <td><%= job.wage_upper_bound %></td>
          <td><%= job.wage_lower_bound %></td>
          <td>
            <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-info btn-sm")%>
            |
            <%= link_to("Delete", admin_job_path(job), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-danger btn-sm") %>
            |
            <% if job.is_hidden %>
              <%= link_to("Publish", publish_admin_job_path(job), method: :post,  class: "btn btn-sm btn-success") %>
            <% else %>
              <%= link_to("Hide", hide_admin_job_path(job), :method => :post, class: "btn btn-sm btn-warning") %>
            <% end %>
          </td>
          <td><%= format_created_at(job) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
