<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="container-fluid">
        <%= render "common/navbar" %>
        <div class="pull-left" style="margin-top: 38px;">
          <%= link_to("Admin Dashboard", "#", class: "btn btn-primary", style: "width:150px; text-align: left;") %>
          <br />
          <%= link_to("User Dashboard", jobs_path, class: "btn btn-default", style: "width:150px; text-align: left; margin-top: 5px;") %>
        </div>
        <div class="pull-right" style="width: 85%;">
          <%= render "common/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
